* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #02020a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  touch-action: none;
}
